<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class = "menu">
        <ul>
            <li><a href="#">home</a></li>      
            <li><a href="#">relatorios</a></li>
                <ul>
                    <li><a href="#">Vendas</a></li>
                    <li><a href="#">Personalizado</a></li>
                    <li><a href="#">estoque</a></li>
                </ul>
            <li><a href="#">cadastro</a></li>
                <ul>
                    <li><a href="#">funcionarios</a></li>
                    <li><a href="#">estoque</a></li>
                    <li><a href="#">produto</a></li>
                </ul>
            <li><a href="#">venda</a></li>

            <li><a href="#">conta</a></li>

        </ul>
    </div>
<!--fim do menu -->

<div class = "painel">

    <div class="painel-grid">
        <div class="grid-1">

        </div>
        <div class="grid-2">

        </div>
        <div class="grid-3">

        </div>
        <div class="grid-4">

        </div>
        

     

    </div>

</div>
</body>
</html>