<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>
    
    <div class="main-login">
        
        <div class="container-login">
            <div class="left-login">
               
                <img src = "logo-interativa.svg" class = "left-login-img" alt="logo wossiman segurança">
            </div>
                <div class="right-login">
                    <input class = "ckeckboxCadastroLogin" type="checkbox">
                        <div class = "card-login">
                            <h2>Log-In</h2>
                                <div class = "fields-login">
                                    <label for="usuario">Usuário</label>
                                    <input type="text" name="usuario" placeholder="Usuário">
                                </div>
                                <div class = "fields-login">
                                    <label for="senha">Senha</label>
                                    <input type="password" name="senha" placeholder="Senha">
                                </div>
                                   <div><button class="btn-login">Entrar</button></div>
                                     
                                
                        </div>
                        <div class = "cadastro-login">
                            <h2>Cadastro</h2>
                                <div class = "fields-cadastro">
                                    <label for="usuario">Usuário</label>
                                    <input type="text" name="usuario" placeholder="Usuário">
                                </div>
                                <div class = "fields-cadastro">
                                    <label for="email">e-mail</label>
                                    <input type="text" name="email" placeholder="E-mail">
                                </div>
                                <div class = "fields-cadastro">
                                    <label for="senha">Senha</label>
                                    <input type="password" name="senha" placeholder="Senha">
                                </div>
                                <div class = "fields-cadastro">
                                    <label for="senha">Confirmação </label>
                                    <input type="password" name="senha" placeholder="confirmação da Senha">
                                </div>
                                   <div><button class="btn-cadastro">Cadastro</button></div>
                                     
                                
                        </div>
                    
                </div>  
            
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>